<html>
    <head>
    <link rel="stylesheet" href="/css/travel.css"></head>
    <body>

    <div class="container-fluid">
  ...

        <h1>Add Trip</h1>

        <form method="POST" action="/add-trip">
            <input type="text" placeholder="Enter destination" name="title" />       
            <input type="date" placeholder="Enter departure date" name="dateofDeparture" />
            <input type="date" placeholder="Enter return date" name="dateofReturn" />
            <input type="text" placeholder="Enter image URL" name= "imageURL" />
                    
            <button>Add Trip!</button>
        </form>

</div>
    </body>
</html>