<html>
    <head>
    <link rel="stylesheet" href="/css/travel.css"></head>
    <body>

    <div class="container-fluid">
  

        <h1>>>>>>>>>Please Login!!!>>>>>>>></h1>

        <form method="POST" action="/login">
            <input type="text" placeholder="please enter username" name = "userName">
            <input type="password" placeholder="please enter password" name= "password">
            <button>Submit</button>
        </form>

</div>
    </body>
</html>