<html>
    <head>
    <link rel="stylesheet" href="/css/travel.css"></head>
    <body>

    <div class="container-fluid">
  

        <h1>Create Profile</h1>

        <form method="POST" action="/register">
            <input type="text" placeholder="Enter First Name" name="firstName" />       
            <input type="text" placeholder="Enter Last Name" name="lastName" />
            <input type="text" placeholder="Enter Username" name="userName" />
            <input type="password" placeholder="Enter Password" name="password" />
            
                    
            <button>Register!</button>
        </form>

</div>
    </body>
</html>