<html>
    <head>
    <link rel="stylesheet" href="/css/travel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        {{>menu}}
    <div class="container-fluid">
        <h1>WELCOME {{userName}} to your trips page!</h1>
               
            {{#trips}} 
            <form method = "POST" action = "trips/delete-trip">
                <input type = "hidden" value = {{trip_id}} name = "tripID">
                 <button type = "submit">Delete Trip!</button>
                <div class="card-group">
                <div class="card">
                <img src="{{imageurl}}" class="card-img-top" alt="...">
                 <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                    <p class="card-text"> Date of Departure:{{date_of_departure}}</p>
                    <p class="card-text"> Date of Return:{{date_of_return}}</p>
                    
            </form>
                 {{/trips}}   
            </div>
           

  </div>
  </div>
</div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</html>